body {
  background-color:#ce3635 !important;
  text-align: center;
  color:#fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  margin: 0;
  padding: 0;
}

* { color:#fff; text-decoration: none;}

#index_animate {
  padding-top: 200px;
}

/* general */

.container {
  width: 100%;
  /* max-width: 960px; */
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #52414c;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
}

h2,
h3 {
  font-size: 22px;
}




/* main */
#main-container {
  padding-top: 130px;
}
.main-section {
  color: black;
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 0 0 40px;
  /* border: 1px solid #ddd; */
}

/*portfolio*/

img{ max-width:100%;}

.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding:0;display: flow-root; padding-top: 50px;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
/* .gallery_box li:nth-child(even) {
    height: 304px;
}
.gallery_box li:nth-child(odd) {
    height: 438px; 
} */
.gallery_box li:nth-child(odd) .box_data{ background:rgba(0,0,0,0.17) }
.gallery_box li:nth-child(even) .box_data{ background:rgba(0,44,255,0.27) }
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}
.gallery_box li:hover .box_data{ background:rgba(255,0,39,0.55)}
  
  /* Animation */
  
  @keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
  
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
  }
  
  @-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
  
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
  }
  
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
  }
  
  .animatedFadeInUp {
    opacity: 0
  }
  
  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }
  
    
  @media only screen and (max-width: 980px) {
    nav {
      float: right;
      margin-top: 25px;
      padding-right: 25px;
  }
  }
  @media only screen and (max-width: 980px) {
    nav {
      float: right;
      margin-top: 25px;
      padding-right: 25px;
  }
  
  }
   
   @media only screen and (max-width: 768px) {
     #logo {
       position: static;
      }
      #email {
        position: static;
       }
      nav {
        float: right;
        margin-top: 25px;
        padding-right: 25px;
    }
   }
   
   @media only screen and (max-width: 640px) {
     #logo {
       width: 100%;
      }
      #email {
        position: static;
       }
      nav {
        position: relative;
        display: inline-block;
        padding-right: 180px;
      }
  
      #main-container{
        padding-top: 180px;
        margin-left: 5px;
      }
   }

/* contact page */
#contact-form ul {
  margin-bottom: 20px;
}
#contact-form li {
  margin-bottom: 10px;
}
label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}
input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}
textarea {
  height: 200px;
}
input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #6f2f2c;
  border: 0 none;
}

/*end contact page*/

/*navbar*/
a.navbar-brand {
  float: left;
  height: 50px;
  padding: 35px 15px;
  font-size: 32px;
  line-height: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 700;
}

nav.main-navigation {
  position: relative;
}

nav.main-navigation ul.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: right;
}

.nav-list li.nav-list-item {
  display: inline-block;
  line-height: 40px;
  margin-left: 30px;
  margin-top: 35px;
}

a.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: white;
}

/*social icons*/
body{
  margin: 0;
  padding: 0;
  background-color: #ccc;
  }
  #ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  
  }
  #ul li{
  list-style: none;
  margin: 0 40px;
  
  }
  #ul li .fa{
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
  
  }
  #ul li a{
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
  }
  #ul li a::before{
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
  }
  #ul li a::after{
  content: "";
  position: absolute;
  top: 80px;
  left: -11px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg);
  }
  #ul li a:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
  }
  #ul li:hover .fa{
  color: #fff;
  }
  #ul li a:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
  }
  #ul li:hover:nth-child(1) a{
  background: black;
  }
  
  #ul li:hover:nth-child(1) a:before{
  background: black;
  }
  #ul li:hover:nth-child(1) a:after{
  background: black;
  }
  /* #ul li:hover:nth-child(2) a{
  background: #55acee;
  }
  #ul li:hover:nth-child(2) a:before{
  background: #4184b7;
  }
  #ul li:hover:nth-child(2) a:after{
  background: #4d9fde;
  }
  #ul li:hover:nth-child(3) a{
  background: #dd4b39;
  }
  
  #ul li:hover:nth-child(3) a:before{
  background: #c13929;
  }
  #ul li:hover:nth-child(3) a:after{
  background: #e83322;
  } */
  
  #ul li:hover:nth-child(2) a{
  background: #0077B5;
  }
  
  #ul li:hover:nth-child(2) a:before{
  background: #036aa0;
  }
  #ul li:hover:nth-child(2) a:after{
  background: #0d82bf;
  }
  
  #ul li:hover:nth-child(3) a{
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  }
  
  #ul li:hover:nth-child(3) a:before{
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  }
  #ul li:hover:nth-child(3) a:after{
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 60px;
    background-color: #f5f5f5;
    position: fixed;
  }

@keyframes FadeIn {
  0% {
      opacity: 0;
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
  }


  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      pointer-events: auto;
      transition: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-list li {
  animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: both;
}

.nav-list li:nth-child(1) {
  animation-delay: .3s;
}

.nav-list li:nth-child(2) {
  animation-delay: .6s;
}

.nav-list li:nth-child(3) {
  animation-delay: .9s;
}

.nav-list li:nth-child(4) {
  animation-delay: 1.2s;
}

.nav-list li:nth-child(5) {
  animation-delay: 1.5s;
}

/* Animation */

@keyframes fadeInUp {
  from {
      transform: translate3d(0, 40px, 0)
  }

  to {
      transform: translate3d(0, 0, 0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0, 40px, 0)
  }

  to {
      transform: translate3d(0, 0, 0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

  
@media only screen and (max-width: 980px) {
  nav {
    float: right;
    margin-top: 25px;
    padding-right: 25px;
}
}
@media only screen and (max-width: 980px) {
  nav {
    float: right;
    margin-top: 25px;
    padding-right: 25px;
}

}
 
 @media only screen and (max-width: 768px) {
   #logo {
     position: static;
    }
    #email {
      position: static;
     }
    nav {
      float: right;
      margin-top: 25px;
      padding-right: 25px;
  }
 }
 
 @media only screen and (max-width: 640px) {
   #logo {
     width: 100%;
    }
    #email {
      position: static;
     }
    nav {
      position: relative;
      display: inline-block;
      padding-right: 180px;
    }

    #main-container{
      padding-top: 180px;
      margin-left: 5px;
    }
 }

 /*responsive website*/
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }


